body,
html {
    margin: 0;
    padding: 0;
}



header {
    display: block;
    background-color: #ffffff;
    border-bottom: solid 1px #f1f1f1;
    border-top: solid 1px #f1f1f1;
    width: 100%;
    height: 60px;
  }
  
  .header-container {
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    height: 100%;
    align-items: center;
    margin: auto;
  
  }
  
  #logo {
    flex-basis: 6%;
    justify-content: left;
    overflow: hidden;
  }
  
  #logo img {
    width: 100%;
    height: 100%;
  }
  
  header div a {
    font-size: 12px;
    font-family: "Lexend Tera", sans-serif;
    color: rgb(172, 171, 171);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
  }
  
  header div a:hover {
    color: black;
  }
  
  /* ----------------- */
  
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .search form input {
    border: 1px solid #ddddde;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .08);
    border-radius: 4px;
    padding-left: 10px;
    width: 100px;
    line-height: 2;
    transition: all 0.6s;
  }
  
  .search form input:focus {
    border-bottom: solid 1px #3a87fc;
  
  }
  
  .search #place {
    margin-right: 20px;
    width: 300px;
  }
  
  .search #depart {
    margin-right: 20px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .search #arrive {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .search #title-sub {
    margin-left: 20px;
    border-radius: 20px;
    background-color: rgb(124, 199, 218);
    color: white;
    transition: all 0.6s;
  }
  
  .search #title-sub:hover {
    background-color: rgb(60, 130, 196);
  }
  

.content {
    display: flex;
    flex-flow: row nowrap;
    width: 80%;
    margin: auto;
    
}



.left {
    width: 80%;
}

.photo-grid {
    display: flex;
    max-height: 512px;
    border-radius: 4px;
    overflow: hidden;
    padding: 20px 0 0 20px;
}

.photo-hero {
    margin-right: 8px;
    max-width: 66%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 66;
    overflow: hidden;
}

.photo-hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-photos {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 34%;
    height: 512px;
}

.photo-secondary {
    display: flex;
    margin-bottom: 8px;
    position: relative;
    height: 60%;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.photo-secondary img,
.photo-tertiary img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.photo-tertiary {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

#tertiary-container {
    flex-basis: calc((100% - 8px)/2);
    overflow: hidden;
    position: relative;
}

.list {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.title {
    border-top: solid 1px #f1f1f1;
    padding-top: 40px;
    font-size: 1.5rem;
    padding-left: 20px;
    font-weight: 600;
}


.list-container {
    display: flex;
    flex-direction: row;
}

.list-detail::before {
    border-top: 1px solid #ddddde;
    display: block;
    padding-left: 20px;
    width: 12px;
    content: "";
}

.list-detail {
    flex-basis: 50%;
    padding-left: 20px;
    font-size: 1.2rem;
    font-weight: 100;
}

.map {
    overflow: hidden;
    padding-right: 40px;

}

.map iframe {
    border-radius: 12px;
    margin-right: 20px;
}

.list-detail p {
    padding: 10px;
}

.description {
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddddde;
    font-weight: 200;
    line-height: 1.5;

}

.beds-list,
.general {
    border-top: 1px solid #ddddde;
    padding-left: 20px;
    margin-right: 20px;
    margin-bottom: 80px;
}

.bed::before,
.general-list::before {
    border-top: 1px solid #ddddde;
    display: block;
    padding-left: 20px;
    width: 12px;
    content: "";
    margin-bottom: 30px;
}

.bed {
    display: flex;
    flex-direction: column;
}

.bed-img-container {
    border-radius: 20px;
    height: 160px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.bed-img-container img {
    width: 40%;
    object-fit: cover;
}

.size {
    padding-right: 30px;
    background-color: rgb(250, 250, 250);
    text-align: right;
    flex-basis: 60%;
}

.size h3 {
    font-weight: 500;
}

.size p {
    font-weight: 200;
}

.size span {
    font-size: .8rem;
    font-weight: 200;
    color: rgb(160, 159, 159);
}

.general-list {
    display: flex;
    flex-direction: row;

}

.general-list div {
    flex-basis: auto;
    margin-right: auto;
}

/* -------------------------------------------- */
.right {
    display: flex;
    position: relative;
    width: 20%;
    order: 1;
    border-left: 1px solid #ddddde;
    justify-content: right;
    padding-right: 30px;
}

.payment {
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}

.price {
    font-size: 1.5rem;
    font-weight: 400;
}

.price span {
    vertical-align: text-bottom;
    font-size: .8rem;
}

.time {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

#time-select {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#time-select input {
    height: 40px;
    width: 350px;
    border: none;
    border: 1px solid #ddddde;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .08);
    line-height: 2;
    transition: all 0.6s;
    font-size: 1.2rem;
    color: rgb(131, 128, 128);
}

.total {
    margin-top: 20px;
    margin-bottom: 10px;
}

.book {
    text-align: center;
}

.book input {
    margin-top: 20px;
    font-size: 1.2rem;
    background-color: rgb(124, 199, 218);
    color: white;
    height: 50px;
    width: 300px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .1);
    transition: all .6s;
}

.book input:hover {
    background-color: rgb(60, 130, 196);
}