.main{
    height: auto;
    margin-bottom: 80px;
}

#logo{
    display: block;
    width: 320px;
    justify-self: center;
    margin: auto;
}

.separate {
    max-height: 170px;
    margin: 0 auto;
    border-bottom: none;
}

.separate h1 {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    text-decoration: underline;
    font-size: 30px;
    padding: 0;
    padding-top: 20px;
}

.sub_separate {
    text-align: center;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    padding: 0;
}

#label0, #label1, #label2, #label-user, #label-pass, #label-email{
    font-size: 0.75rem;
    color: red;
    display: none;
    transition: all 0.6s;
    margin: 0;
}

.reg-form{
    margin: 0 auto;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    line-height: 1.6;
    text-align: center;
    width: 500px;
    letter-spacing: 0.4px;
    font-weight: bold;

}


fieldset{
    display: flex;
    flex-direction: column;
    border: none;
}

fieldset div{
    margin: 20px;
    display: flex;
    flex-direction: column;
    text-align: left;
}

fieldset #type{
    flex-direction: row;
    align-items: center;
}

fieldset #contact input, fieldset #type input{
    margin: 0 10px;
}

input{
    border: none;
    border-bottom: solid 1px rgb(172, 171, 171);
    font-size: 20px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    transition: all 0.6s;
    outline: none;


}

input:focus{
    border-bottom: solid 4px #3a87fc;

}

.button{
    display: block;
    text-align: center;
    margin: 20px;
}

.button input{
    cursor: pointer;
    border: none;
    width: 200px;
    border-radius: 20px;
    transition: all 0.6s;
}

.button input:hover{
    background-color: black;
    color: w;
    box-shadow:  5px 5px 35px 1px rgb(82, 81, 81);
}

.back{
    font-size: 16px;
    line-height: 2;
    display: block;
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.back a{
    text-decoration: none;
    transition: all 0.6s;
    color: rgb(172, 171, 171);
    border-bottom: solid 1px rgb(172, 171, 171);

}

.back a:hover{
    color: black;
    border-bottom: 1px solid black;
}

.copyright {
    padding-right: 30px;
    display: flex;
    height: 100%;
    background-color: #e7e6e3;
    flex-direction: row-reverse;
    font-size: 14px;
}

#des{
    display: none;
}

.show{
    display: flex;
}

span{
    transition: all 0.6s;
}


input[type=radio]:checked+span{
    /* text-shadow: 1px 1px 2px black, 0 0 .2em rgb(16, 16, 20); */
    color: green;
}

textarea{
    height: 30px;
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    transition: all 0.6s;
}

textarea:focus{
    height: 300px;
}

#subform:hover{
    color: white;
}

#upload-form input{
    border: none;
}

#upload{
    font-size: 1rem;
    border: none;
}

#upload-submit{
    font-size: 1rem;
    width: 80px;
    border-radius: 10px;
    border: none;
    
}
