
h1{
    font-size: 4rem;
}

.main{
    height: 2300px;
}

.separate h1{
    font-size: 4rem;
}

.separate p{
    font-size: 2rem;
}

.reg-form{
    margin: 0;
    width: 100%;
    font-size: 2rem;
    line-height: 3;
}

input[type=radio] {
    transform: scale(2);
    margin-right: 59px;
  }

textarea{
    font-size: 2rem;
    height: 70px;
}

.upload-form{
    display: block;
}

input[type="file"]{
    transform: scale(2);
    margin-left: 160px;
}
#subform{
    transform: scale(2);
}